@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 56 213 132;
    --color-bg-primary: 11 12 15;

    --color-text: 255 255 255;
  }
}

body {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(23, 55, 70, 1) 50%, rgba(65, 129, 30, 1) 100%);
}